<div class="row mt4">
    <form method="POST">
  <div class="form-group">
    <label for="search">Keyword</label>
    <input type="text" class="form-control" id="search" name="q" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your keyword with anyone else.</small>
    <select name="gender" id="">
        <option value="">--Chon gioi tinh--</option>
        <option value="male">Nam</option>
        <option value="female">Nu</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>